* {
    padding-top: 5px;
    margin: 0 auto;
    font-family:'Pacifico', sans-serif;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.row {
    background: hotpink;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 20px;
    width: 1000px;
      
}

.title {
    font-family:'Pacifico', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;    
}

.divButton {
    display: flex;
    justify-content: center;   
}

.start {
    font-size: 20px;
    background: red;
    width: 100px;
    height: 55px;
    border: 2 solid black;
    padding-top: 5px;
    padding-bottom: 10px;
}

.start:hover {
    
    background:#67D5E8!important;
    
}

.card {
    background: hotpink!important;
    border: 0!important; 
    position: relative!important;
    transition: transform 1s!important;
    transform-style: preserve-3d!important;
    /* perspective: 1000px!important; */
}

.ordi {
    
    background: blueviolet;
    border: 2 solid black;
    width: 180px;
    height: 180px;
    text-align: center;
}
  
.back {
   
    background: red;
    border: 2 solid black;
    width: 180px;
    height: 180px;
    text-align: center;
}

.back:hover {
    width: 182px;
    height: 182px;
    cursor: pointer;
    transition: transform 0.8s;
}

.back:active{
    transform: rotateY(180deg);
}

.imgVisible {
    width: 100%!important;
    height: 100%!important;
}

.imgHide {
    width: 100%!important;
    height: 100%!important;
}

.end{
    display: none;
    font-size: xxx-large;
    color: #8a2be2;
}

.hide{
    display: none;
}

.display{
    display: block;
}

#allCards{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 630px;  
    
}